/* Basic Style */

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.top {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.top__img {
  width: 100%;
}

.more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .top { 
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.task-input__wrapper{
  display: flex;
}

ul {
  margin:0;
  padding: 0px;
}

li, h3 {
  list-style: none;
}

input,button{
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */

.title,
.new-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input--edit {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input--edit:focus {
  color: #333;
}

/* New Task */

.new-task__label {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

.btn-add:hover {
  color: #0fc57c;
}

/* Task list */

.tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks__item > * {
  vertical-align: middle;
}

.tasks__checkbox {
  margin: 0 10px;
}

.tasks__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.input--edit {
  width: 226px
}

.btn-delete:hover {
  color: #cf2323;
}

.btn-delete__img{
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */

#completed-tasks .tasks__label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */

.tasks__input--edit {
  display: none
}

.edit-mode .tasks__input--edit {
  display: inline-block;
  width: 224px
}

.edit-mode .tasks__label {
  display: none;
}